# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/

# Some of our applications generate logs, which should be ignored by git
logs/

# compiled Vaadin widgetsets
**/VAADIN/widgetsets

# From docs
**/__pycache__

# Properties, which may contain sensitive information
**/developer.properties

# Other
**/.factorypath

**/.flattened-pom.xml
.flattened-pom.xml
